nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3D3331;
    color: #FFFBeB;
    height: 50px;
    padding: 1em;
}

a{
    text-decoration: none;
    color: #FFFBeB;
}