@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #3D3331;
    color: #FFFBeB;
    font-family: 'Yeseva One';
}

nav img{
    width: 25px;
}

.btn-outline-custom{
    border-color: #FFFBeB;
    color: #FFFBeB;
}

.btn-outline-custom:hover{
    background-color: #FFFBeB;
    color: #3D3331;
}