*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3D3331;
    color: #FFFBeB;
    height: 50px;
    padding: 1em;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

nav li{
    margin: 5px;
}

a{
    text-decoration: none;
    color: #FFFBeB;
}

img{
    width: 25px;
}

nav input[type=text]{
    padding: 6px;
    border: none;
}